// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');


.atg-positions-selected-item, .atg-positions-item {
  text-align: center;
}

.atg-positions-selected-item {
  border: 1px solid darkred;
}

//Begin App Head
$head-backgroundColor: #00315a;
$head-testColor: #1cb9fe;
$app-backgroundColor: #f9fcfc;
.x-layout-card-item{
  background-color: $app-backgroundColor;
}
.app-title{
  background: none $head-backgroundColor;
  background-image: url("../icons/images/head-bar.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  border: 0 !important;
  header: 10%;
  .x-innerhtml {
    color: $head-testColor;
    font-size: 75%;
    font-weight: normal;
  }
}
//End App Head

//Begin Buttons input menu head
.bar-menu{
  .x-button{
    background: none $app-backgroundColor;
    border:0;
    padding: 0;
    .x-button-label{font-size: 2em; color: #b6c1d2; line-height: 70px; font-weight: normal;}
    .icon{
      height: 17px;
      width: 100%;
    }
    .x-badge{
      background: none transparent;
      border:0;
      padding: 0;
      font-size: 1.2em !important;
      height: 20px;
      line-height: 20px;
      top:50px;
      right: 10%;
      @include box-shadow(none);
    }
  }
  .x-button.atg-positions-selected-item{
    .x-button-label{font-size: 2em; color: $head-testColor; font-weight: bold;}
    .icon{
      height: 17px;
      background-color: $head-testColor;
    }

  }
}
.bar-menu:before{
  background-image: url("../icons/images/head-menu-bar.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 200;
  top: 75px;
}
//End  Buttons input menu head

//Begin Points bar
.points-bar{
  background-color: $app-backgroundColor;
  font-size: 120%;
  font-weight: normal;

}
//End Points bar

//Begin button Confirm
$btn-backgroundColor-confirm: #55e100;
.btn-confirm{
  background: none $btn-backgroundColor-confirm;
  border: 0;
  @include border-radius(0);

  .x-button-label{font-size: 2em; color: #fff; font-weight: normal;}

}
//End button confirm

//Begin List players
$txt-list-headcolor: #b6c1d2;
$txt-list-color: #00315a;

.app-listHead{
  background-color: $app-backgroundColor;
  color: $txt-list-headcolor;
  .atg-column-normal{
    text-align: center;
  }
  .atg-column-selected{
    color: $head-testColor;
    text-align: center;
    font-weight: bold;
  }
  .atg-column-selected:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $head-testColor;
    bottom: 0;
    left: 0;
  }
}
.pl-list{
  .pl-infoContent{
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    //width: 100%;
  }
  .pl-name{
    color:$txt-list-color;
    //width: 100%;
    font-weight: bold;
    white-space: nowrap;
  }
  .pl-teamCode{
    //width: 100%;
    color:$txt-list-color;
    font-weight: normal;

  }
  .pl-cost{
    color:$txt-list-color;
    font-size: 100% !important;
    font-weight: normal;
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    float: right;
    //width: 20%;
  }
}
//End List players

//Begin button games an panel
.panel-games{
  .x-button{
    background: none transparent;
    border: 0;
    @include border-radius(0);
    .x-button-label{font-size: 0.9em; color: #b6c1d3; font-weight: normal;}
    .icon{
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
.x-button.atg-games-expanded{
  background-color: #b6c1d3;
  .x-button-label{color: #fff;}
  .icon{background-image: url("../icons/images/ic-arrow-right.png");}
}
.x-button.atg-games-collapsed{
  .x-button-label{}
  .icon{background-image: url("../icons/images/ic-arrow-left.png");}
}
.x-dataview-item{
  background-color: #b6c1d3;
  color: #fff;
  margin:  0 0 0 1px;
  padding: 0 5px ;
  height: 55px;
  .nameCode{font-size: 0.8em;}
  .time{font-size: 0.7em;}
}
}
//End button games and panel